@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    text-decoration: none;
    list-style-type: none;
    
    box-sizing: inherit;

    margin: 0;
    padding: 0;

    
}

html {
    box-sizing: border-box;
    
    /* HACK */ 
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;

    line-height: 1.6rem;
}

.header {
    
}

/* Header Address */

.header .header__address {
    display: flex;
    align-items: center;
    height: 52px;

    background-color: rgb(0, 0, 0);
}

.header__address--contact {
    margin-right: 20px;
    line-height: 2.1rem;
}

.header__address--item-contact:last-child:hover {
    cursor: pointer;
}

.header__address--item-contact:hover .address__contact--text-link {
    color: var(--primary-color);
}

.address__contact--icon {
    margin-right: 16px;

    font-size: 1.4rem;
    font-weight: 900;
    line-height: 1.5rem;

    color: var(--text-white-color);
}

.address__contact--text {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.1px;
    color: var(--text-white-color);
}

.header__address--social .address__contact--icon {
    margin-right: 12px;
    margin-left: 12px;
}
.header__address--social .address__contact--icon:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.header__address--list-contact {
    display: flex;
    align-items: center;
}

.header__address--list-contact .header__address--item-contact {
    margin-right: 20px;
}
.header__address--list-socical {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__address--list-socical .header__address--item-socical {
    margin-right: 18px;
}
.header__address--list-socical .header__address--item-socical:nth-child(5) {
    margin-right: 0;
}

.header__address--item-socical .address__contact--icon:hover {
    color: var(--primary-color);
}

/* Header Navbar */

.header .header__navbar {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: rosybrown;
}


.navbar__logo {

}

.navbar__logo-text {
    position: absolute;
    top: 13%;
    left: 12%;


    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    line-height: 1.5em;
    letter-spacing: 4px;

    color: var(--text-dark-color);

    cursor: default;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.navbar__logo-img {

}

.navbar__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar__menu .navbar__list {
    width: 64%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar__list .navbar__item {
    margin: 0px 16px;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.6rem;
    letter-spacing: 0.7px;
}

.navbar__list .navbar__item-link--active {
    color: var(--primary-color);
}

.navbar__list .navbar__item-link:hover {
    color: var(--primary-color);
}

.navbar__item:last-child {
    margin-right: 20px;
}


.navbar__item-link {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.7px;
    color: var(--text-dark-color);
}

.navbar__item-link-icon {
    margin-left: 8px;
    font-size: 1.2rem;
}

.booking__btn {
    margin-right: 8px;
    margin-left: 40px;
    padding: 0px 52px;
    
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 5.1rem;
    letter-spacing: 0.9px;

    color: var(--text-white-color);
    background-color: #ff4157;
}
.booking__btn:hover {
    background-color: hsl(219,49%,17%);
}



@media (min-width: 740px) and (max-width: 1123px) {
    /* header address */
    .header .header__address {
        height: 62px;
    }
    .header__address--list-contact {
        display: block;
    }
    .header__address--item-contact {
        margin-left: -24px;
        margin-right: -24px;
        margin-top: 3px;
    }

    .header__address--list-socical {
        margin-right: -44px;
    }
    /* header navbar */
    .navbar__logo {
        margin-left: -22px;
    }
    .navbar__menu .navbar__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: -58px;
    }

    .navbar__list .navbar__item {
        margin: 0 6px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.6rem;
    }

    .navbar__item-link {
        padding: 0;
        line-height: 1.6rem;
    }

    .navbar__logo-text {
        top: 13%;
        left: 8%;
    }
}

@media (min-width: 375px) and (max-width: 739px) {
    .header .header__address {
        height: 96px;
    }
    .header__address--list-contact {
        display: block;
        margin-top: -16px;
    }
    .header__address--item-contact {
        margin-top: 8px;
        margin-left: 20px;
        margin-bottom: 12px;
    }
    .header__address--list-socical {
        justify-content: center;
    }
}



